@media (max-width: 980px) {
  .carousel {
    width: 90%px;
    height: 210px;
  }

  .nav-button {
    width: 30px;
    height: 60px;
    font-size: 20px;
    margin: 10px;
  }

  .dot {
    width: 7px;
    height: 7px;
  }

}

@media (max-width: 680px) {
  .navbar {
    backdrop-filter: none;
  }

  .navbar-contain .navbar-Menu {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem !important;
    position: absolute;
    height: 370px;
    width: 250px;
    top: 0;
    right: 0;
    padding: 5rem 4rem;
    box-shadow: 0 10px 10px rgb(0, 0, 0.5);
    backdrop-filter: blur(10px);
    background-color: rgb(236, 138, 9);
    display: none;
    margin: 20px 35px 0 0;
    border-radius: 8px;
  }

  .navbar-contain .navbar-Menu.active {
    display: flex;
  }

  .navbar-toogle {
    display: block;
    z-index: 999;
  }

  .navbar-toogle.active .bar:nth-child(2) {
    opacity: 0;
  }

  .navbar-toogle.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .navbar-toogle.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  /* he photo auto change aahe */
  .carousel {
    width: 90%px;
    height: 210px;
  }

  .nav-button {
    width: 30px;
    height: 60px;
    font-size: 20px;
    margin: 10px;
  }

  .dot {
    width: 7px;
    height: 7px;
  }

  .scrollimage {
    margin: 10px 0 0 -3%;
  }

  /* 5 points */
  .top-section,
  .top-section.reverse {
    flex-direction: column;
    align-items: center;
  }

  .image-container {
    width: 100%;
    height: 200px;
  }

  .content {
    width: 100%;
  }

  /* this is running name */
  .red-banner {
    font-size: 15px;
    padding: 5px;
  }

  /* footer  */
  .main2 {
    flex-direction: column;
    padding: 10px;
  }

  .box {
    width: 100%;
    padding: 10px 0;
    margin-top: 36px;
  }

  .box2 {
    width: 200px;
  }

  .box p {
    margin-top: auto;
  }

  .nav2:hover {
    color: #007bff;
  }

}